.home {
    width: 100%;
    align-items: bottom;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
    background: #161415 url(../assets/background-home.jpg) no-repeat top center;
    background-size: 100% calc(100vh - 100px);
  }

  .about .intro {
    margin-block-start:230px;
    text-align: left;
  }
  
  .about span {
    width: 40%;
    font-size: 30px;
    color: hsl(210, 4%, 78%);
  }

  .about p {
    margin-block-start: 0em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: #D0D0D0;
  }

  .about .prompt {
    width: 50%;
    font-size: 30px;
    color: hsl(210, 4%, 78%);
    font-size: 18px;
  }

  .about .media svg {
    font-size: 40px;
    margin: 15px;
    color:hsl(210, 4%, 78%);
    margin-block-start:100px;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }
  